.gear span {
  background-color: tomato;
  width: 10px;
  height: 10px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  display: flex;
  font-weight: 600;
  position: absolute;
  left: 25px;
  bottom: 10px;
  right: 15px;
  top: 20px;
}
